@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navtop {
    background-color: #071A3B;
    padding: 5px;
}

.navtop a {
    text-decoration: none;
}

.navtop #navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navtop #navlogo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.navtop #navicon {
    width: 5em;
    height: 5em;
}

.active {
    font-family: 'Ruda', sans-serif;
    font-size: 1.5em;
    font-weight: 900;
    color: #FFF;
}

.navtop a.icon {
    color: #FFF;
    display: block;
    font-size: 2em;
    padding: 0em 0.7em 0em;
}

.navtop #navlinks {
    display: none;
}

.links {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.links li {
    padding: 0.5em 0em;
}

.links li a {
    font-family: 'Ruda', sans-serif;
    font-weight: normal;
    font-size: 1em;
    color: #FFF;
    cursor: pointer;
    transition: 0.25s;
}

.links li a:hover {
    color: #E11955;
}

main {
    display: flex;
    flex-direction: column;
    padding: 10% 10%;
}

main #maincontent {
    text-align: center;
    font-family: 'Ruda', sans-serif;
    font-size: 1.5em;
    margin: 0.5em 0em;
}

main .btn {
    margin-top: 10px;
    padding: 15px;

    border-radius: 10px;
    border: none;

    background-color: #071A3B;
    color: #FFF;

    font-size: 1em;

    cursor: pointer;
    transition: 0.25s;
}

/* Deixar para a versao desktop
.btn:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
*/

footer {
    background-color: #071A3B;
}

footer #footericons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer #footericon {
    width: 125px;
    height: 125px;
}

footer #social-icons {
    padding: 0% 10%;
}

footer a.icon {
    font-size: 2em;
    text-decoration: none;
    color: #FFF;
    padding: 2.5px;
}

footer #copyright {
    font-size: 0.8em;
    font-family: 'Ruda', sans-serif;
    color: #FFF;
    text-align: center;
    padding: 5% 0%;
}
