#about {
  display: flex;
  flex-direction: column;

  font-family: "Ruda", sans-serif;
}

#descricao {
  font-size: 1rem;
  font-style: normal;
  color: var(--dark-blue);
  text-align: left;
  line-height: 1.5em;
  margin-top: 0.5rem;
}

summary { 
  /*list-style: none;*/

  background: var(--dark-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
  outline: 0; 
  gap: 0;
  
  border-radius: 10px;
  padding: 15px;
  margin-top: 1.5rem;
  
  color: white;
  font-style: normal;
  font-size: 1rem;

  cursor: pointer;
  transition: 0.25s;
}

summary:hover {
  color: var(--pink)
}

.detalhes {
  background: var(--dark-blue);
  width: 100%;
  border-radius: 10px;
  margin-top: -20px;
  margin-right: 20px;
}

.text-about-us {
  color: white;
  text-align: left;
  font-style: normal;
  font-size: 1rem;  
  line-height: 1.5em;
  padding: 15px;
}

.slideshow-container {
  margin: auto;
  position: relative;
}

.memebersSlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 1em;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.profilePicture {
  position: relative;
  left: 50%;
  margin: 1.5em auto 1em -3.5em;
  width: 7em;
  height: auto;
  border-radius: 100%;
}

.textName,
.textRole {
  color: #f2f2f2;
  font-weight: normal;
  font-size: 0.7em;
  position: relative;
  width: 100%;
  text-align: center;
  padding-bottom: 0.4em;
}

.textRole {
  padding-bottom: 1.5em;
}

.dot {
  cursor: pointer;
  height: 0.6em;
  width: 0.6em;
  margin: 0 2px 5%;
  border: solid 1px #fff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

#mission-icon-web,
#vision-icon-web {
  display: none;
}

.values-container {
  display: grid;
  grid-template-columns: 33% 32% 33%;
  grid-template-rows: auto auto auto;
  padding: 1em;
}

.value-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ethics-item {
  grid-column-start: 1;
  grid-column-end: 1;
}

#quality-item {
  grid-column-start: 3;
  grid-column-end: 3;
}

#innovation-item {
  grid-column-start: 2;
  grid-row-start: 2;
}

#collaboration-item {
  grid-row-start: 3;
}

#transparency-item {
  grid-row-start: 3;
  grid-column-start: 3;
}

#about .active,
.dot:hover {
  height: 0.4em;
  width: 0.4em;
  background-color: white;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  #about {
    padding: 2.5% 10%;
  }

  .text-about-us {
    padding: 2.5%;
  }

  .profilePicture {
    width: 10em;
    margin: 1.5em auto 1em -5em;
  }

  .textName,
  .textRole {
    font-size: 1em;
  }

  .prev,
  .next {
    position: absolute;
    width: auto;
    margin-top: -22px;
    padding: 25px 100px 25px;
    font-size: 1.5em;
  }

  #mission-icon-web,
  #vision-icon-web {
    display: block;
    padding: 1em 2em 1em 0;
  }

  #mission .detalhes,
  #vision .detalhes {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .values-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1em;
  }

  .value-item {
    flex-direction: column-reverse;
  }

  .value-item p {
    padding: 0.5em 0;
  }
}