#contact{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 5%;
    padding-bottom: 5%;
}

.form{
  width: 500px;
}

#contact p, ul{
  font-family: "Ruda", sans-serif;
  color: var(--dark-blue);
}

#contact p {
  padding: 5px;
  line-height: 1.5em;
  padding: 10px 2.5px;
}

#contact ul {
  list-style: none;
}

#contact ul,
li {
  padding: 5px 2px;
}

form input,
textarea {
  width: 100%;
  padding: 2.5%;
  margin: 2.5% 0;

  font-family: "Source Code Pro", monospace;
  font-size: 1em;

  border: solid 1px var(--dark-blue);
  border-radius: 10px;
}

form input:focus,
textarea:focus {
  outline: none !important;
  border: solid 2px var(--pink);
}

form #btn-submit {
  font-family: "Ruda", sans-serif;
  font-size: 1em;
  color: #fff;
  background-color: var(--dark-blue);
  cursor: pointer;
  transition: 0.25s;
}

form #btn-submit:hover {
  background-color: rgba(7, 26, 59, 0.90);
}

@media screen and (max-width: 760px){
  #contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .form{
    width: auto;
  }
}
