footer {
  background-color: var(--dark-blue);
}

footer #footericons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  vertical-align: bottom;
}

footer #footericon {
  width: 125px;
  height: 125px;
}

footer #social-icons {
  padding: 0% 10%;
}

footer a.icon {
  font-size: 2em;
  text-decoration: none;
  color: #fff;
  padding: 2.5px;
}

footer #copyright {
  font-size: 0.8em;
  font-family: "Ruda", sans-serif;
  color: #fff;
  padding: 5% 0%;
  align-self: flex-end;
  text-align: center;
}

@media screen and (min-width: 768px) {
  footer #footericon {
    width: 150px;
    height: 150px;
  }

  footer #social-icons {
    padding: 0% 5%;
  }

  footer a.icon {
    font-size: 2.5em;   
  }

  footer #copyright {
    font-size: 1em;
    padding: 0% 0% 15px 0%;
  }

}