#services {
  font-family: "Ruda", sans-serif;
}

#services h3 {
  font-size: 1rem;
  font-style: bold;

  color: var(--dark-blue);

  text-align: left;

  padding-top: 20px;
  padding-bottom: 6px;
}

#services #eHealth {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

#services .card-services {
  color: white;
  background-color: var(--dark-blue);
  width: 20rem;
  height: 26.5rem;
  margin-top: 2em;
  border-radius: 10px;
  box-shadow: #0000004a 6px 7px 6px 0px;
}

#services .card-services:hover {
  background-color: var(--pink);
}

.card-icon {
  display: flex !important;
  text-align: center;
  justify-content: center;
  font-size: 5rem;
  margin-top: 1.5rem;
}

.title {
  font-size: 1.1rem;
  line-height: 1.5em;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  color: white;
  padding: 20px 20px 0;
}

.text {
  font-size: 0.9rem;
  line-height: 1.5em;
  font-style: normal;
  text-align: center;
  justify-content: center;
  color: white;
  padding: 20px;
}

@media screen and (min-width: 768px) {
  #services {
    padding: 5% 10%;
  }
  
  .card-services {
    margin-right: 2rem;
  }
}

@media screen and (max-width: 390px) {
  .card-services {
    height: 30rem !important;
  }
}

@media screen and (max-width: 310px) {
  .card-services {
    height: fit-content !important;
  }
}